---
Language: Cpp
BasedOnStyle: Google
Standard: Latest
ColumnLimit: 100
IndentWidth: 2
ContinuationIndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
IncludeBlocks: Regroup
SortIncludes: true
FixNamespaceComments: true
...
